doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title post-page
    link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='css/style.min.css')
  body
    .wrapper
      header.header
        a.header__logo.logo(href='#')
          img.logo__image(src='img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
          span.logo__name Типотека
        nav.header__nav
          ul.header__nav-list
            li.header__list-item
              p Алёна Фролова
            li.header__list-item
              a.header__exit(href='#') Выйти
        a.header__avatar.avatar
          img(src='img/avatar-2.png' alt='аватар пользователя')
        a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
      main
        section.post
          h1.visually-hidden Пост
          section.post__content
            h2.visually-hidden Основное содержание
            .post__wrapper
              .post__head
                a.post__backwards.button.button--backwards(href='#') Назад
                time.post__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                h2.post__title.title.title--main AirPods в один клик
                ul.post__themes.themes
                  li.themes__item
                    a.themes__item-link(href='#')
                      | Автомобили
                      sup 88
                    button.themes__remove-btn(type='button') Удалить категорию
                  li.themes__item
                    a.themes__item-link(href='#')
                      | Удаленная работа
                      sup 13
                    button.themes__remove-btn(type='button') Удалить категорию
                  li.themes__item
                    a.themes__item-link(href='#')
                      | Бизнес
                      sup 13
                    button.themes__remove-btn(type='button') Удалить категорию
              .post__picture
                img(src='img/sea-fullsize@1x.jpg' alt='пейзаж море, скалы, пляж')
              .post__text
                h3 Бирюзовое доверие
                p.
                  У Apple иногда попадаются интерфейсы, за которые создателей хочется сильно поругать — к примеру интерфейс публикации приложения в AppStore, для которого я уже неделю восстановливаю свой аккаунт разработчика.
                  
                p Или интерфейс подключения AirPods на макбуке. Чтобы переключить наушники между телефоном и компьютером, нужно сначала нажать на значок звука, затем дождаться, когда в списке устройств появятся наушники, потом нажать на них и дождаться, пока случится вся магия подключения. Иногда по загадочным причинам магия не случается, и операцию нужно повторить, выполняя все те же клики-ожидания-клики — бесит.
          .post__wrapper.post__wrapper--comments
            section.post__comments.comments
              h2.comments__title.title.title--middle Комментарии
              ul.comments__list
                li.comments__comment
                  .comments__avatar.avatar
                    img(src='img/avatar-1.png' alt='аватар пользователя')
                  .comments__text
                    .comments__head
                      p Евгений Петров •
                      time.comments__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                    p.comments__message Автор, ты все выдумал, покайся
                li.comments__comment
                  .comments__avatar.avatar
                    img(src='img/avatar-5.png' alt='аватар пользователя')
                  .comments__text
                    .comments__head
                      p Александр Марков •
                      time.comments__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                    p.comments__message Конечно, прежде чем так писать, нужно искренне приложить усилия, чтобы разобраться — не все люди умеют выражать свои мысли.
                li.comments__comment
                  .comments__avatar.avatar
                    img(src='img/avatar-4.png' alt='аватар пользователя')
                  .comments__text
                    .comments__head
                      p Евгений Петров •
                      time.comments__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                    p.comments__message Автор, ты все выдумал, покайся
                li.comments__comment
                  .comments__avatar.avatar
                    img(src='img/avatar-3.png' alt='аватар пользователя')
                  .comments__text
                    .comments__head
                      p Александр Марков •
                      time.comments__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                    p.comments__message Конечно, прежде чем так писать, нужно искренне приложить усилия, чтобы разобраться — не все люди умеют выражать свои мысли.
              .comments__footer.comments__footer--user
                form(action='#' method='POST')
                  .avatar
                    img(src='img/avatar-2.png' alt='аватар пользователя')
                  label
                    textarea(rows='1' placeholder='Присоединиться к обсуждению')
                  button.comments__button.button.button--colored(type='submit') Опубликовать
                p.comments__error Сообщение не может быть пустым, напишите что-нибудь!
      footer.footer
        a.footer__copyright(href='#' aria-label='HTMLAcademy')
          img(src='img/icons/HTMLAcademyLogo.svg' width='112' height='50' alt='HTMLAcademy')
        span •
        p Типотека, 2019
    script(src='js/main.js')
