doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='Description' content='Личный блог Типотека')
    title Типотека
    link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='css/style.min.css')
  body
    .wrapper.wrapper--nobackground
      header.header
        a.header__logo.logo(href='#')
          img.logo__image(src='img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
          span.logo__name Типотека
        button.button.button--colored.header__button-new Новая запись
        .header__dropdown
          a.button.button--burger.header__burger(href='#') Открыть меню
          ul.navigation.header__navigation
            li.navigation__item
              a(href='index.html') index.html --- все ссылки
            li.navigation__item
              a(href='main.html') main.html --- Главная страница
            li.navigation__item
              a(href='main-variation.html') main-variation.html --- Главная страница (варианты вида)
            li.navigation__item
              a(href='main-no-news.html') main-no-news.html --- Страница без новостей и комментов
            li.navigation__item
              a(href='admin-my-publications-2.html') admin-my-publications-2.html --- Мои записи
            li.navigation__item
              a(href='admin-categories.html') admin-categories.html --- Категории
            li.navigation__item
              a(href='admin-my-publications-1.html') admin-my-publications-1.html --- Комментарии
            li.navigation__item
              a(href='new-post-photo.html') new-post-photo.html --- Страница для нового поста
            li.navigation__item
              a(href='new-post-photo-1.html') new-post-photo-1.html --- Страница добавления нового поста
            li.navigation__item
              a(href='new-post-photo-2.html') new-post-photo-2.html --- Страница добавления нового поста (выбор даты)
            li.navigation__item
              a(href='new-post-photo-3.html') new-post-photo-3.html --- Страница добавления нового поста (заполненная)
            li.navigation__item
              a(href='main-empty.html') main-empty.html --- Главная страница пустая
            li.navigation__item
              a(href='registration.html') registration.html --- Регистрация
            li.navigation__item
              a(href='sign-in-error-1.html') sign-in-error-1.html.html --- Регистрация c ошибками
            li.navigation__item
              a(href='sign-in-error-2.html') sign-in-error-2.html--- Регистрация c ошибкой поля email
            li.navigation__item
              a(href='sign-in-error-3.html') sign-in-error-3.html--- Регистрация c ошибкой поля пароль
            li.navigation__item
              a(href='publications-by-category.html') publications-by-category.html --- Список публикаций в категории
            li.navigation__item
              a(href='404.html') 404.html --- Страница для отображения ошибок
            li.navigation__item
              a(href='500.html') 500.html --- Страница для отображения ошибок
            li.navigation__item
              a(href='search.html') search.html --- Страница поиска
            li.navigation__item
              a(href='search-2.html') search-2.html --- Страница поиска с результатами
            li.navigation__item
              a(href='search-3.html') search-3.html --- Страница поиска пустая
            li.navigation__item
              a(href='post-user.html') post-user.html --- Страница поcта (для пользователя)
            li.navigation__item
              a(href='post-visitor-no-tags.html') post-visitor-no-tags.html --- Страница поcта (для посетителя) без тегов
            li.navigation__item
              a(href='post-visitor-no-comments.html') post-visitor-no-comments.html --- Страница поcта (для посетителя) без комментариев
            li.navigation__item
              a(href='post-visitor-no-photo.html') post-visitor-no-photo.html --- Страница поcта (для посетителя) без фотографии
            li.navigation__item
              a(href='post-user-2.html') post-user-2.html --- Страница поcта (для пользователя) с ошибкой отправки комментария
            li.navigation__item
              a(href='uikit.html') uikit.html --- UI KIT
        a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
      main.main-page.main-page--padding
        section.main-page__notes.notes
          h1.notes__title Мои записи
          ul.notes__list
            li.notes__list-item
              time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
              a.notes__item-text(href='#') Huawei открыла в России предзаказ на смартфон Mate 30 Pro без сервисов Google
              button.notes__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка
            li.notes__list-item
              time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
              a.notes__item-text(href='#') Facebook разрешит пользователям копировать фотографии из соцсети в «Google Фото»
              button.notes__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка
            li.notes__list-item
              time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
              a.notes__item-text(href='#') Huawei открыла в России предзаказ на смартфон Mate 30 Pro без сервисов Google
              button.notes__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка
            li.notes__list-item
              time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
              a.notes__item-text(href='#') Facebook разрешит пользователям копировать фотографии из соцсети в «Google Фото»
              button.notes__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка
            li.notes__list-item.notes__list-item--last
              time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
              a.notes__item-text(href='#') Facebook разрешит пользователям копировать фотографии из соцсети в «Google Фото»
              button.notes__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка
      footer.footer.footer--padding
        a.footer__copyright(href='#' aria-label='HTMLAcademy')
          img(src='img/icons/HTMLAcademyLogo.svg' width='112' height='50' alt='HTMLAcademy')
        span.footer__dot
        p.footer__text Типотека, 2019
    //
       <script src="js/vendor.js"></script>
          <script src="js/main.js"></script> 
