doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='Description' content='Личный блог Типотека')
    title Типотека
    link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='css/style.min.css')
  body
    .wrapper.wrapper--nobackground
      header.header
        a.header__logo.logo(href='#')
          img.logo__image(src='img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
          span.logo__name Типотека
        button.button.button--colored.header__button-new Новая запись
        .header__dropdown
          a.button.button--burger.header__burger(href='#') Открыть меню
          ul.navigation.header__navigation
            li.navigation__item
              a(href='index.html') index.html --- все ссылки
            li.navigation__item
              a(href='main.html') main.html --- Главная страница
            li.navigation__item
              a(href='main-variation.html') main-variation.html --- Главная страница (варианты вида)
            li.navigation__item
              a(href='main-no-news.html') main-no-news.html --- Страница без новостей и комментов
            li.navigation__item
              a(href='admin-my-publications-2.html') admin-my-publications-2.html --- Мои записи
            li.navigation__item
              a(href='admin-categories.html') admin-categories.html --- Категории
            li.navigation__item
              a(href='admin-my-publications-1.html') admin-my-publications-1.html --- Комментарии
            li.navigation__item
              a(href='new-post-photo.html') new-post-photo.html --- Страница для нового поста
            li.navigation__item
              a(href='new-post-photo-1.html') new-post-photo-1.html --- Страница добавления нового поста
            li.navigation__item
              a(href='new-post-photo-2.html') new-post-photo-2.html --- Страница добавления нового поста (выбор даты)
            li.navigation__item
              a(href='new-post-photo-3.html') new-post-photo-3.html --- Страница добавления нового поста (заполненная)
            li.navigation__item
              a(href='main-empty.html') main-empty.html --- Главная страница пустая
            li.navigation__item
              a(href='registration.html') registration.html --- Регистрация
            li.navigation__item
              a(href='sign-in-error-1.html') sign-in-error-1.html.html --- Регистрация c ошибками
            li.navigation__item
              a(href='sign-in-error-2.html') sign-in-error-2.html--- Регистрация c ошибкой поля email
            li.navigation__item
              a(href='sign-in-error-3.html') sign-in-error-3.html--- Регистрация c ошибкой поля пароль
            li.navigation__item
              a(href='publications-by-category.html') publications-by-category.html --- Список публикаций в категории
            li.navigation__item
              a(href='404.html') 404.html --- Страница для отображения ошибок
            li.navigation__item
              a(href='500.html') 500.html --- Страница для отображения ошибок
            li.navigation__item
              a(href='search.html') search.html --- Страница поиска
            li.navigation__item
              a(href='search-2.html') search-2.html --- Страница поиска с результатами
            li.navigation__item
              a(href='search-3.html') search-3.html --- Страница поиска пустая
            li.navigation__item
              a(href='post-user.html') post-user.html --- Страница поcта (для пользователя)
            li.navigation__item
              a(href='post-visitor-no-tags.html') post-visitor-no-tags.html --- Страница поcта (для посетителя) без тегов
            li.navigation__item
              a(href='post-visitor-no-comments.html') post-visitor-no-comments.html --- Страница поcта (для посетителя) без комментариев
            li.navigation__item
              a(href='post-visitor-no-photo.html') post-visitor-no-photo.html --- Страница поcта (для посетителя) без фотографии
            li.navigation__item
              a(href='post-user-2.html') post-user-2.html --- Страница поcта (для пользователя) с ошибкой отправки комментария
            li.navigation__item
              a(href='uikit.html') uikit.html --- UI KIT
        a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
      main.main-page.main-page--padding
        section.main-page__category.category
          h1.category__title Категории
          .category__add-form
            form(action='#' method='POST')
              input#add-form-add-category(type='text' name='category' placeholder='Новая категория')
              label(for='add-form-add-category')
                span.visually-hidden Добавить категорию
              button.category__button.button.button--category(type='submit') Добавить
          ul.category__list
            li.category__list-item
              form(action='#' method='POST')
                input#modify-form-category-1(type='text' name='category' value='Жизнь и путешествия')
                label(for='modify-form-category-1')
                  span.visually-hidden Редактировать категорию
                button.category__button.button.button--category(type='submit') Сохранить
                button.category__button.button.button--category(type='button') Удалить
            li.category__list-item
              form(action='#' method='POST')
                input#modify-form-category-2(type='text' name='category' value='Путешествия')
                label(for='modify-form-category-2')
                  span.visually-hidden Редактировать категорию
                button.category__button.button.button--category(type='submit') Сохранить
                button.category__button.button.button--category(type='button') Удалить
            li.category__list-item
              form(action='#' method='POST')
                input#modify-form-category-3(type='text' name='category' value='Дизайн и программирование')
                label(for='modify-form-category-3')
                  span.visually-hidden Редактировать категорию
                button.category__button.button.button--category(type='submit') Сохранить
                button.category__button.button.button--category(type='button') Удалить
            li.category__list-item
              form(action='#' method='POST')
                input#modify-form-category-4(type='text' name='category' value='Другое')
                label(for='modify-form-category-4')
                  span.visually-hidden Редактировать категорию
                button.category__button.button.button--category(type='submit') Сохранить
                button.category__button.button.button--category(type='button') Удалить
            li.category__list-item.category__list-item--last
              form(action='#' method='POST')
                input#modify-form-category-5(type='text' name='category' value='Личное')
                label(for='modify-form-category-5')
                  span.visually-hidden Редактировать категорию
                button.category__button.button.button--category(type='submit') Сохранить
                button.category__button.button.button--category(type='button') Удалить
      footer.footer.footer--padding
        a.footer__copyright(href='#' aria-label='HTMLAcademy')
          img(src='img/icons/HTMLAcademyLogo.svg' width='112' height='50' alt='HTMLAcademy')
        span.footer__dot
        p.footer__text Типотека, 2019
    //
       <script src="js/vendor.js"></script>
          <script src="js/main.js"></script> 
