doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title new publication
    link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='css/style.min.css')
  body(style='height: 1050px;')
    .wrapper
      include partials/header--unlogged.pug
      main
        section.modal.modal--flex
          .popup.popup--new-publication.popup--flex
            .new-publication
              form(action='/admin-add-new-post-empty' method='POST')
                .new-publication__header
                  h1 Новая публикация
                  .new-publication__date-form
                    h3 Дата публикации
                    .new-publication__date-form-division
                      .new-publication__date-block
                        label(for='new-publication-date' aria-label='Календарь')
                        input#new-publication-date(type='text' placeholder='21.03.2019')
                  button.new-publication__button.button.button--colored(type='submit') Опубликовать
                button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно
                .new-publication__form.form
                  .form__wrapper.form__wrapper--intro
                    .form__field
                      label
                        input(type='text' placeholder='Заголовок' name='title' required)
                    .form__field.form__field--post-image
                      label
                        input#image-name-field(type='text' name='image' placeholder='Фотография' readonly)
                      .form__image-loader.form__image-loader--publication
                        label
                          input.visually-hidden(type='file')
                          | Обзор
                    a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
                  .form__wrapper.form__wrapper--text
                    .form__field.form__field--publication-text
                      label
                        textarea(rows='1' placeholder='Анонс публикации' name='announce')
                    .form__field.form__field--publication-text
                      label
                        textarea(rows='1' placeholder='Полный текст публикации' name='fullText')
          .modal__overlay
    script(src='js/vendor.js')
    script(src='js/main.js')
