extends layout--unlogged.pug

block content
      main
        section.search-page
          .search-page__wrapper
            h1 Поиск
            .search.search-page__form
              form(action='/search' method='get')
                label
                  input(type='text' placeholder='Что ищем?' value=`${searchValue}`)
                button.search__button.button.button--transparent(type='submit') Найти
              .search__result
                each article in articles
                 time.search__date(datetime=article.createdDate) #{article.formattedDate}
                 a.search__link #{article.title}
              .search__result
                time.search__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                a.search__link
                  | «Яндекс.Метрика» запустила
                  b путешествия
                  |  сервис для оценки эффективности баннеров и видеорекламы в реальном времени
