extends layout--unlogged.pug

block content
      main
        section.search-page
          .search-page__wrapper
            h1 Поиск
            .search.search-page__form
              form(method="get" action="/search" autocomplete="off")
                label
                  input(type='text' placeholder='Что ищем?')
                button.search__button.button.button--transparent(type='submit') Найти

