extends layout--unlogged.pug
include ./partials/mixins
block content
      main
        section.search-page
          .search-page__wrapper
            h1 Поиск
            .search.search-page__form
              form(action='/search' method='get')
                label
                  input(type='text' placeholder='Что ищем?' value=`${searchValue}`)
                button.search__button.button.button--transparent(type='submit') Найти
              .search__result
                each article in articles
                 time.search__date(datetime=article.createdDate) #{article.formattedDate}
                 +bol-found-word(article.title, searchValue)
